<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form to save article data</title>
</head>
<body>

<form action="/article/save" method="post">
    <p>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title">
    </p>
    <p>
        <label for="slug">Slug: </label>
        <input id="slug" type="text" name="slug">
    </p>
    <p>
        <label for="content">Content: </label>
        <input id="content" type="text" name="content">
    </p>    
    <p><input type="submit" value="submit"></p>
</form>
</body>
</html>