{% extends '../base.html' %}

{% block wrapper-tmpl %}
<form action="/book/save" method="post">
    <p>
        <label for="isbn">ISBN: </label>
        <input id="isbn" type="text" name="isbn" required>
    </p>
    <p>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" required>
    </p>
    <p>
        <label for="description">Description: </label>
        <input id="description" type="text" name="description">
    </p>    
    <p><input type="submit" value="submit"></p>
</form>
{% endblock %}