<head>
    <meta charset="UTF-8">
    <title>{{ cms['head-title'] }}</title>
    <meta name="description" content="{{ cms['head-description'] }}">
    <script src="{{ preference.path.js['npm-socketio'] }}"></script>
    <link rel="stylesheet" href="{{ preference.path.css['material-design-lite'] }}">
    <script src="{{ preference.path.js['material-design-lite']"></script>
    <link rel="stylesheet" href="{{ preference.path.css['googleapis-material-icons'] }}">
    <link rel="stylesheet" href="{{ preference.path.css['common-style'] }}/">
</head>
